In [1]:
import pandas as pd
import numpy as py
import os

In [2]:
path = r'C:\Users\wsaha\Documents\Insta basket analysis'

In [3]:
# Imoprting data frames ## Importing df_orders_products_merged

df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged.pkl'))

In [4]:
df_orders_products_merged

,order_id,user_id,order_number,orders_day_of_week,hour_of_the _order_made,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,1,2,7,NaN,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,1,4,14,NaN,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [5]:
df = df_orders_products_merged[:1000000]

In [6]:
#Creating price label column using if else statements

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
## Apply the function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\wsaha\AppData\Local\Temp\ipykernel_5576\1214505236.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
# oBtaining values in collumn

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [9]:
#Confirming there are no max values

df['prices'].max()

14.8

In [10]:
## Using loc function instead of if else

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\wsaha\AppData\Local\Temp\ipykernel_5576\2346711929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [14]:
# running lock on entire data base

df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [18]:
# Looking at busiest day of week 

df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [19]:
#Use for loop to assigne bussiest and no bussiest day to each raw 

result = []

for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [20]:
# allocateing a collumn in data base for result

df_orders_products_merged ['Bussiest_day'] = result

In [21]:
df_orders_products_merged ['Bussiest_day'].value_counts(dropna = False)

Bussiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [22]:
## Task 4.7 2 Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).
## Create a new column for this using a suitable method.

# Looking at busiest day of week 

df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [23]:
## Two busiest days 

df_orders_products_merged.loc[df_orders_products_merged['orders_day_of_week'].isin([0, 1]), 'busiest_days'] = 'Busiest_days'

In [24]:
## Normal  days

df_orders_products_merged.loc[df_orders_products_merged['orders_day_of_week'].isin([6, 2, 5]), 'busiest_days'] = 'Regular_days'

In [25]:
## two slowest days

df_orders_products_merged.loc[df_orders_products_merged['orders_day_of_week'].isin([3, 4]), 'busiest_days'] = 'Slowest_Days'

In [26]:
## 3 Check the values of this new column for accuracy. Note any observations in markdown format.

df_orders_products_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regular_days    12916111
Busiest_days    11864412
Slowest_Days     7624336
Name: count, dtype: int64

In [27]:
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_the _order_made,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,price_range_loc,Bussiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular_days
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest_Days
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest_Days
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest_Days
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest_Days

In [28]:
df_orders_products_merged['busiest_days'].shape

(32404859,)

In [29]:
## 4 Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
## Create a new column containing these labels called “busiest_period_of_day.”

# Sorting hours by value count

hours = df_orders_products_merged['hour_of_the _order_made'].value_counts(dropna = False)

In [30]:
hours

hour_of_the _order_made
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [ ]:
# create empty list and for loop to generate list of “busiest_period_of_day.”

busiest_hours = []

for row in df_orders_products_merged['hour_of_the _order_made']:
    if row in hours[:8]:
        busiest_hours.append("Most_orders")
    elif row in hours[8:16]:
        busiest_hours.append("Average_orders")
    else:
        busiest_hours.append("Fewest_orders")

In [ ]:
# replacing the name of  busiest hour 

df_orders_products_merged['busiest_period_of_day'] = busiest_hours

In [ ]:
#result

df_orders_products_merged.head()

In [ ]:
## 5. Print the frequency for this new column.

df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

In [ ]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_orders_products_merged_altered_updated.pkl'))